.landing__wrap {
  min-height: 65vh;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 900px) {
    min-height: 100vw;
  }
  .landing__inner__wrap {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .landing__img__wrap {
      height: 100%;
      width: 90%;
      max-width:1760px;
      margin: 10vh auto 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      .landing__bg__img {
        width: 100%;
      }
    }
    .marquee__wrap {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100vh;
      bottom: -12em;
      z-index: 99;
      mix-blend-mode: luminosity;
        .marquee {
          bottom: 0;
          left: 0;
          width: auto;
          position: absolute;
          white-space: nowrap;
          animation: marquee 30s linear infinite;
          &.marquee2 {
            left: 100%;
            animation-delay: 15s;
          }
        .scroll__text {
          bottom: 0;
          margin-right: 0.5em;
          font-size: 15rem;
          white-space: nowrap;
          color: var(--color-two);
          z-index: 2;
          -webkit-text-stroke: 1px var(--color-one);
          @keyframes marquee {
            0% {
              left: 100%;
            }
            100% {
              left: -375%;
            }
          }
        }
      }
    }
  }
  .landing__lower__wrap {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .landing__lower__title {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    .search__wrap {
      width: 60rem;
      .search__bar {
        width: 100%;
        font-family: inconsolata;
      }
    }
  }
}