.landing__alt__wrap {
  height: 30vh;
  width: 100%;
  margin: 80px auto 0;
  overflow: hidden;
  .landing__img__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .landing__hero__img {
      width: 90%;
    }
  }
  .marquee__wrap {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 50vh;
    z-index: -1;
    @media screen and (max-width: 480px) {
      display: none;
    }
    &.underlay {
      text-shadow: -1.8em 1.8em 0px #08DB8F;
    }
    &.overlay {
      mix-blend-mode: difference;
      z-index: 2;    
    }
      .marquee {
        bottom: 25px;
        left: 0;
        width: auto;
        position: absolute;
        white-space: nowrap;
        animation: marquee 40s linear infinite;
        &.marquee2 {
          left: 101%;
          animation-delay: 20s;
        }
      .scroll__text {
        bottom: 0;
        margin-right: 0.5em;
        font-size: 15rem;
        white-space: nowrap;
        color: var(--color-two);
        z-index: 2;
        -webkit-text-stroke: 1px var(--color-one);
        @keyframes marquee {
          0% {
            left: 100%;
          }
          100% {
            left: -375%;
          }
        }
      }
    }
  }
  .marquee__wrap__starter {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 50vh;
    z-index: -1;
    @media screen and (max-width: 480px) {
      display: none;
    }
    &.underlay {
      text-shadow: -1.8em 1.8em 0px #08DB8F;
    }
    &.overlay {
      mix-blend-mode: difference;
      z-index: 2;    
    }
      .marquee__starter {
        bottom: 20px;
        left: 0;
        width: auto;
        position: absolute;
        white-space: nowrap;
        animation: startText 40s linear;
        opacity: 0;
        &.marquee2 {
          left: 0;
          animation-delay: 20s;
        }
      .scroll__text {
        bottom: 0;
        margin-right: 0.5em;
        font-size: 15rem;
        white-space: nowrap;
        color: var(--color-two);
        z-index: 2;
        -webkit-text-stroke: 1px var(--color-one);
        @keyframes startText {
          0% {
            left: -135%;
            opacity: 1;
            display: block;
          }
          50% {
            opacity: 1;
          }
          100% {
            left: -610%;
            opacity: 0;
            display: none;
          }
        }
      }
    }
  }
}
