.footer__wrap {
  width: 100%;
  background-color: var(--color-two);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--color-one);
  .footer__text {
    color: var(--color-one);
    position: absolute;
    top: 0.01em;
    font-size: 15em;
    white-space: nowrap;
  }
  .footer__grid__wrap {
    margin: 15vw 0 5vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    .footer__left__wrap {
      position: relative;
      left: -100px;
      .footer__left__img {
        height: 100%;
        width: auto;
        position: absolute;
        right: 0;
        top: -8vw;
        transform: rotateZ(13deg);
        height: 30vw;
        max-height: 400px;
        mix-blend-mode: exclusion;
      }
    } 
    .footer__center__wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      min-width: 600px;
      .signup__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        .form__title {
          color: var(--color-one);
          font-size: 3em;
        }
        .form__subtitle {
          color: var(--color-one);
          font-size: 1.5em;
          margin: 1em 0;
        }
        .form__inner__wrap {
          width: 80%;
          font-family: inconsolata;
          position: relative;
          background-color: var(--color-one);
          display: flex;
          flex-direction: row;
          padding: 0.5em 0.75em;
          border-radius: 25px;
          margin-top: 5em;
          .form__input {
            width: 80%;
            padding: 5px 10px;
            border: none;
            text-indent: 10px;
            border-radius: 25px;
          }
          .signup__btn {
            width: 20%;
            padding: 2px;
            color: var(--color-one);
            background-color: var(--color-two);
            border: none;
            border-radius: 25px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
      .social__wrap {
        margin-top: 4em;
        display: flex;
        align-items: center;
        flex-direction: column;
        .social__title {
          margin: 2em 0;
          font-size: 3em;
          color: var(--color-one);
        }
        .social__icon__wrap {
          display: inherit;
          flex-direction: row;
          .social__icon {
            background-color: var(--color-one);
            padding: 0.5em;
            font-size: 3em;
            color: var(--color-two);
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms ease;
            cursor: pointer;
            &:hover {
              opacity: 0.8;
              transform: scale(1.05);
            }
          }

          .center__icon {
            margin: 0 1em;
          }
        }
      }
    } 
    .footer__right__wrap {
      position: relative;
      top: -5em;
      right: -100px;    
      .footer__right__img {
        height: 100%;
        width: auto;
        position: absolute;
        left: 0;
        top: -8vw;
        transform: rotateZ(-17deg);
        height: 35vw;
        max-height: 400px;
        mix-blend-mode: exclusion;
      }
    }
  }
}