:root {
	--color-one: #ffffff;
  --color-two: #161616;
  --color-three: #d73737;
  --color-four: #ffcc00;
  --small: 375px;
  --medium: 900px;
}

html {
  font-size: calc(100vw / 1920 * 10);
  scroll-behavior: smooth;
}

@font-face {
	font-family: notable;
	src: url("../fonts/Notable-Regular.ttf");
}

@font-face {
	font-family: inconsolata;
	src: url("../fonts/inconsolata-variable.ttf");
}

main {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 748px) {
    min-height: auto;
  }
}

body {
  font-family: notable;
  color: var(--color-two);
}



