:root {
	--color-one: #ffffff;
  --color-two: #161616;
  --color-three: #08DB8F;
  --color-four: #ffcc00;
  --color-five: #7c08db;
  --color-six: #de0073;
}

html {
  font-size: calc(16px + 0.390625vw);
  scroll-behavior: smooth;
}

@font-face {
	font-family: notable;
	src: url("../fonts/Notable-Regular.ttf");
}

@font-face {
	font-family: inconsolata;
	src: url("../fonts/inconsolata-variable.ttf");
}

main {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 748px) {
    min-height: auto;
  }
}

body {
  font-family: notable;
  color: var(--color-two);
}

.main__container {
  width: 90%;
  margin: 10vw auto;
}

.products__width__90 {
  width: 90%;
  margin: 0 auto;
}

.e-toast-container .e-toast .e-toast-message .e-toast-title {
  color: red;
  font-size: 18px;
  font-weight: bold;
}


